asgiref==3.12.1
boto3==1.36.5
certifi==2026.7.22
charset-normalizer==3.5.1
Django==5.2.14
django-storages==1.14.4
gunicorn==23.0.0
idna==3.19
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dotenv==1.1.0
requests==2.34.2
sqlparse==0.6.0
typing-extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.9.0
